.blog-content h1 {
  margin-bottom: 1.5em;
}
.blog-content h2 {
  margin-bottom: 1em;
}
.blog-content h3 {
  margin-bottom: 1em;
}
.blog-content h4 {
  margin-bottom: 1em;
}

.blog-content p {
  margin-bottom: 1em;
}
